.footer {
    background: url(../../../public/images/mb-background_footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.wrapper-footer {
    width: 100%;
    display: flex;
}

.info-support {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 10px 0 10px 10px;
    img {
        width: 50%;
        border-radius: 13px;
        margin-right: 10px;
    }
    .copyright {
        width: 30%;
        img {
            width: 100%;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
}

.partner {
    margin-top: 30px;
    // text-align: center;
    // align-self: flex-end;
    h1 {
        margin-bottom: 10px;
        padding-left: 5px;
        text-transform: capitalize;
        text-align: left;
        font-size: 10px;
        color: #fff;
        font-weight: 700;
    }
    img {
        width: 100%;
    }
}

.contact-support {
    width: 30%;
    padding: 10px;
    h1 {
        font-size: 10px;
        color: #fff;
        font-weight: 700;
    }
    span {
        font-size: 8px;
        color: #e4e1e1;
        font-weight: unset;
    }
}
